@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF';
    src: url('/public/fonts/SFPRODISPLAYREGULAR.OTF');
  } 

  * {
    font-family: 'SF';
    font-weight: normal;
  }
}

@layer components {
  .text-title {
    @apply text-3xl font-semibold
  }

  .text-sub-title {
    @apply text-sm text-secondary-color-neutral mt-2
  }

  .input-form {
    @apply bg-transparent focus:outline-none text-base placeholder:text-secondary-color-neutral
  }
}