@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF';
    src: url('/public/fonts/SFPRODISPLAYREGULAR.OTF');
  } 

  * {
    font-family: 'SF';
    font-weight: normal;
  }

  body {
    background-color: #FFF;
    max-width: 420px;
    margin: auto;
  }
}
