@tailwind base;
@tailwind components;
@tailwind utilities;

.react-multi-carousel-dot-list {
  @apply w-full bg-white shadow-inner items-center text-secondary-color-neutral;
  position: fixed !important;
  padding: 1.75rem 0.5rem !important;
  justify-content: space-around !important;
}

@layer base {
  @font-face {
    font-family: 'SF';
    src: url('/public/fonts/SFPRODISPLAYREGULAR.OTF');
  } 

  * {
    font-family: 'SF';
    font-weight: normal;
  }

  body {
    height: 100vh;
    overflow: hidden;
    background-color: white;
  }
}

@layer components {
  .text-title {
    @apply text-3xl font-semibold
  }

  .text-sub-title {
    @apply text-sm text-secondary-color-neutral mt-2
  }

  .input-form {
    @apply bg-transparent focus:outline-none text-base placeholder:text-secondary-color-neutral
  }

  .setting-element {
    @apply flex justify-between items-center pb-6
  }

  .setting-label {
    @apply flex items-center space-x-3
  }

  .setting-text {
    @apply text-xl
  }

  .label-icon {
    @apply w-6 h-6
  }

  .setting-icon {
    @apply w-6 h-6 rotate-180
  }

  .custom-radio {
    @apply inline-block w-6 h-6 border-2 border-primary-theme-color-success rounded-full;
  }

  input[type="radio"]:checked + .custom-radio {
    @apply border-primary-theme-color-success bg-white;
  }

  input[type="radio"]:checked + .custom-radio::before {
    @apply block bg-primary-theme-color-success w-4 h-4 rounded-full m-0.5;
    content: '';
  }

  .custom-radio-box {
    @apply w-8 h-8 border-2 border-primary-theme-color-success flex items-center justify-center ease-in-out duration-300;
  }
  
  input[type="radio"]:checked + .custom-radio-box {
    @apply border-primary-theme-color-success bg-focused-theme-color-success text-primary-theme-color-success
  }
}